@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sohne";
  font-weight: 200;
  src: url("./fonts/Söhne-ExtraLight.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Sohne";
  font-weight: 300;
  src: url("./fonts/Söhne-Light.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Sohne";
  font-weight: 400;
  src: url("./fonts/Söhne-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Sohne";
  font-weight: 500;
  src: url("./fonts/Söhne-Medium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Sohne";
  font-weight: 600;
  src: url("./fonts/Söhne-SemiBold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Sohne";
  font-weight: 700;
  src: url("./fonts/Söhne-Bold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Sohne";
  font-weight: 800;
  src: url("./fonts/Söhne-ExtraBold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Sohne";
  font-weight: 900;
  src: url("./fonts/Söhne-Black.otf") format("opentype");
  font-display: swap;
}

*,
html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Sohne", sans-serif;
  background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

input,
button,
select {
  outline: none;
}

.dot {
  height: 11px;
  width: 11px;
  border-radius: 50%;
  display: inline-block;
}


.square {
  position: relative;

}

.animate-left,
.animate-center,
.right {
  position: absolute;
  top: 0;
  bottom: 0;
}
.animate-left{
    background: red;
}
.animate-center {
    background: yellow;
}
.right {
    background: blue;
}


.animate-left,
.right {
    width: 20px;
}


.animate-center {
  /* center needs to be 20 pixels from the left, 
  so it doesn't overlap with the .left element */
  left: 20px;

  /* needs a width of 1 pixel, this causes 
  scaleX(60) is equal to 60 pixels */
  width: 1px;
  /* transform: scaleX(2); */

  /* we need to scale the texture from the left side 
  for it to align correctly, default is center */
  transform-origin: left;
}

.center {
  animation: center-animate 1s ease infinite alternate;
}

.right {
  animation: right-animate 1s ease infinite alternate;
}

@keyframes right-animate {
  0% {
      transform: translateX(140px);
  }
  100% {
      transform: translateX(20px);
  }
}

@keyframes center-animate {
  0% {
      transform: scaleX(120);
  }
  100% {
      transform: scaleX(0);
  }
}

/* @keyframes center-animate {
  0% {
      transform: scaleX(121);
  }
  100% {
      transform: scaleX(1);
  }
} */